#navigation{
  background-image: url("../../pics/bballnavbar.jpg");
}

#body{
  background-image: url("../../pics/bluefade.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

#footer{
  background-image: url("../../pics/soccerfooter.jpg");
}